h1, h2{
    text-align: center;
}
.clock1{
  width: 50%;
  text-align: center;
  margin: 0 auto;  
}


#clock{
    display: flex;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: auto;
    align-items:center;
    justify-content:center;
    box-shadow: 1px 5px 5px grey;
    font-size: 30px;
}
.minutes, .seconds{
    width: 30%;
    font-size: 30px;
    background-color: #0781D4;
}

.blue {
    background-color: #0781D4;
}
  
.red {
    background-color: red;
}